 [Unit]
 Description=Service to Display IP Address
 After=network-online.target
 Wants=network-online.target

 [Service]
 Type=oneshot
 WorkingDirectory=/usr/local/bin
 ExecStart=/usr/bin/python3 cardcontrol-display-stats.py

 [Install]
 WantedBy=multi-user.target